/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/*----Mainstyle for webbpage----*/

* {
  margin:0px;
  padding:0px;
  border:none;
}

/* Variables */
:root {
  --clr-text: #2B2A2F;
  --clr-off-white: #f8f6f5;
  --clr-link-blue: #54a8e9;
  --clr-light-gray: #bac1c8;
  --clr-light-gray-opa:rgb(186, 193, 200,0.3);
  --clr-icon-gray: #F2F2F1;

  /* from figma --clr-header-pink: #FAF6F5;  */
  /* But I wanted abit more color */
  --clr-header-pink: #fceeeb;

  --clr-password-green:#76C19A;
  --clr-orange: #F26A44;
}

html {
  font-size: 0.625;
}

html, body {
  height: 100vh;
  box-sizing: border-box;
  color:var(--clr-text);
  font-family: "Montserrat", sans-serif;
}


/* Main Containers */
.grid-container {
  display: grid;
  grid-template-rows: 20% 80%;
  height: 100vh;
}

.grid-box1 {
  background-color: var(--clr-header-pink);
}

.grid-box2 {
  background-color: var(--clr-off-white);
}

/* grid-box1 style */
.asgardname {
  padding:0.8rem  1.4rem;
  font-weight: bolder;
  font-family: "poppins", sans-serif;
}

/* grid-box2 style */
.grid-box2 {
  padding:1.4rem;
}

/* Text */
h1 {
  padding-top: 5rem;
  padding-bottom:0.8rem;
  font-size: 1.2rem;
  font-weight: 900;
}

.text-gray {
  color: var(--clr-light-gray);
}

.light-blue {
  color: var(--clr-link-blue)
}

.login-wrapper {
  font-size: 0.7rem;
}

.login {
text-decoration: none;
padding-left: 0.2rem;
}

/* signup buttons */
.signup-button-wrapper{
padding-top: 1.8rem;
display: grid;
grid-template-columns: 3fr 1fr 1fr;
grid-gap:1rem;
}

.google-img{
  width: 15px;
}

.signup-button {
  height: 2rem;
  border-radius: 5px;
}

.s-btn-white {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border:var(--clr-light-gray) solid 1px;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--clr-text);
}

.google-img{
  padding-right: 0.2rem;
}

.s-btn-gray{
  background-color: var(--clr-icon-gray);
}

.signup-icons{
  width: 15px;
}

.or-text {
  text-align: center;
  padding: 1.4rem 0;
}

/* form  inputs*/
form input.ko {
  border: none;
  outline: none;
  display: block;
  background-color: var(--clr-off-white);
  width: 100%;
  padding: 0.6rem 0;
  border-bottom: 2px solid var(--clr-light-gray-opa);
  margin-bottom: 1.2rem;
}
form label {
  font-size:0.6rem;
  color: var(--clr-light-gray);
}

/* form text */

.greenbox {
  border-bottom:0.1rem;
  border-color:red;
}
